.main {
}
.main .inner {
  display: block;
  height: auto;
}

.main-top {
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-top: 30px;
}

.main-top-slide {
  width: 65.81%;
  max-width: 770px;

  height: 40.17vw;
  max-height: 470px;

  overflow: hidden;
}

.topslide {
  width: 100%;
  height: 100%;
}
.topslide .swiper-pagination {
  bottom: 30px !important;
}
.topslide .swiper-pagination-bullet {
  width: 4px !important;
  height: 4px !important;
  background: #ffffff !important;
  opacity: 0.7 !important;
  border-radius: 4px !important;
  transition: width 0.3;
  margin: 0 2px !important;
}
.topslide .swiper-pagination-bullet-active {
  background: #ffffff !important;
  opacity: 1 !important;
  width: 20px !important;
}

.main-top-slide a {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 40px;

  width: 100%;
  height: 100%;
  background: url("../images/b1.png") no-repeat center;
  background-size: cover;
}

.main-top-banner {
  width: 31.62%;
  max-width: 370px;

  height: 40.17vw;
  max-height: 470px;

  overflow: hidden;
}
.bannerslide {
  width: 100%;
  height: 100%;
}
.bannerslide .swiper-pagination {
  bottom: 30px !important;
}
.bannerslide .swiper-pagination-bullet {
  width: 4px !important;
  height: 4px !important;
  background: #ffffff !important;
  opacity: 0.7 !important;
  border-radius: 4px !important;
  transition: width 0.3;
  margin: 0 2px !important;
}
.bannerslide .swiper-pagination-bullet-active {
  background: #ffffff !important;
  opacity: 1 !important;
  width: 20px !important;
}
.main-top-banner a {
  /* a 태그는 display: inline; 이므로  block 지정 */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 40px;

  width: 100%;
  height: 100%;

  background: url("../images/br.png") no-repeat center;
  background-size: cover;
}

.slide-title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-align: right;
}

/* 반응형 */
@media all and (max-width: 1024px) {
  .main-top-slide {
    width: 100%;
    max-width: 100%;

    height: 100vw;
    max-height: 1240px;
    /* max-height : 720px 좋아보인다. */
  }
  .main-top-banner {
    display: none;
  }
}

.main-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  width: 100%;
}
.main-bottom h2 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}

.list-wrap {
  display: flex;
  justify-content: space-between;
  /* display: flex default값 */
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  gap: 2.56%;
  margin-bottom: 60px;
}

.list-box {
  display: block;
  width: 30%;
  margin-bottom: 30px;
}

.list-box:hover .list-box-img {
  transform: translateY(-10px);
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.2));
}

.list-box-img {
  width: 100%;
  height: 17.09vw;
  max-height: 200px;
  overflow: hidden;

  margin-bottom: 24px;

  transition: all 0.2s ease-in;
}
.list-box-cate {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 18px;
}
.list-box-cate img {
  width: 24px;
  height: 24px;
}
.list-box-cate span {
  font-size: 14px;
  font-weight: 700;
  color: #e700a7;
}

.list-box-title {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;
  word-break: keep-all;
  line-height: 28px;
}

.list-box-day {
  font-size: 14px;
  color: #ccc;
}

.main-bottom-list {
  width: 71.79%;
  max-width: 840px;
}

.main-bottom-list-news {
}

.main-bottom-list-banner {
  overflow: hidden;
  margin-bottom: 60px;
}
.list-banner-link {
  /* a태그는 너비높이주기어려우므로 block */
  display: block;

  width: 100%;
  height: 160px;

  background: #031efb url("../images/1pc.png") no-repeat center;
  background-size: 100%;
}

.main-bottom-list-picks {
}

.cardslide {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}
.cardslide .swiper-wrapper {
  display: block;
}
/* 반응형 */
@media all and (max-width: 1024px) {
  .main-bottom {
    /* 적용되어있음 */
    /* display: flex;
    justify-content: space-between; */

    /* .main-bottom-list width가 100% 이므로 맨밑으로 내려감(줄내림) */
    flex-wrap: wrap;
  }
  .main-bottom-list {
    width: 100%;
    max-width: 100%;
  }
  .list-box {
    width: 100%;
  }
  .list-box-img {
    /* 세로높이 반응형 */
    /* 760 / 1024 * 100 */
    height: 74.21vw;
    max-height: 760px;
  }
}

.main-bottom-cards {
  width: 25.64%;
  max-width: 300px;
}

.card-link {
  display: flex;
  align-items: flex-end;

  width: 100%;
  height: 330px;
  background: url("../images/p1.png") no-repeat center;
  background-size: cover;
  margin-bottom: 30px;
  /* 배치된 내용의 좌표(x,y)가 이동한다 */
  transition: all 0.2s ease-in;
  overflow: hidden;
  /* overflow hidden으로 그림자가 잘리면 div를 만들어 다른곳에 적용한다. */
}

.card-link:hover {
  /* 배치된 내용의 좌표(x,y)가 이동한다 */
  transform: translateY(-10px);
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.2));
}

.card-txt {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
}
.card-title {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
.card-count {
  display: block;
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-left: 3px;
}
/* 반응형 */
@media all and (max-width: 1024px) {
  .main-bottom-cards {
    width: 1024px;
    max-width: 1024px;
  }
  .card-link {
    width: 240px;
    height: 266px;
  }
  .cardslide .swiper-wrapper {
    display: flex;
  }
}
